<template>
  <div id="app">
    <h1>Test app</h1>
    <form class="form">
      <input type="text" name="id" placeholder="Todo id" v-model="todoId" autocomplete="off" />
    </form>
    <br>
    <button class="btn" @click="handleFetch">
      Fetch
    </button>
    <span v-if="loading">Loading...</span>

    <pre v-if="todoData.id">
      {{ todoData }}
    </pre>

    <base-modal v-if="showModal" @close="handleRetry">
      <h3 slot="header">
        Server error
      </h3>
      <p slot="body">
        Sorry, network is down
      </p>
    </base-modal>
  </div>
</template>

<script>
import BaseModal from './components/BaseModal'
import axios from "axios";

export default {
  name: 'App',
  components: {
    BaseModal
  },
  data: () => {
    return {
      todoData: {
        userId: null,
        id: null,
        title: '',
        completed: false
      },
      todoId: '',
      showModal: false,
      loading: false,
      errorMessage: null,
    }
  },
  methods: {
    handleFetch() {
      this.loading = true

      axios
        .get(`https://jsonplaceholder.typicode.com/todos/${this.todoId}`)
        .then(response => {
          console.log(response)
          this.todoData = { ...response.data }
          this.loading = false
        })
        .catch(error => {
          console.log(error.message)
          this.errorMessage = 'Sorry, network is down'
          this.loading = false
          this.showModal = true
          this.todoId = ''
        })
    },

    handleRetry() {
      this.handleFetch()
      this.showModal = false
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
